@keyframes pulseSlow {
  0%, 100% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
}

.animate-pulseSlow {
  animation: pulseSlow 6s ease-in-out infinite;
}
